﻿@model IEnumerable<Domain.Entities.GraphSale>

@{
    ViewBag.Title = "Текущее выполнение";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dat)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Centr)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Good)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ld)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dat)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Centr)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Good)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ld)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fact)
        </td>
        <td>
            @if ((item.Fact > 0) | (item.Ld > 0))
                {@Html.ActionLink("Подробно", "Details", new { id = item.GraphSaleId })}
        </td>
    </tr>
}

</table>
