﻿@model IEnumerable<Domain.Entities.Person>

@{
    ViewBag.Title = "Контакты";
}

<p>
    @Html.ActionLink("Новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.PersonId }) |
            @Html.ActionLink("Просмотр", "Details", new { id = item.PersonId }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.PersonId })
        </td>
    </tr>
}

</table>
