﻿@model WebUI.Models.GoodList
@using WebUI.Helpers;
@{
    ViewBag.Title = Model.CategName + " | Заказать";
    ViewBag.ContentTitle = Model.CategName;
}
@if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
{
    @Html.PageNavigatorInfo(Model.PageInfo)
}
<div class="table-responsive product-table-wrapper">
    <table class="table table-bordered table-hover product-table">
	            <thead>

        <tr>
            <th>Наименование продукции</th>
            <th>Ед. изм.</th>
        </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Products)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.txt, Model.Action, Model.Controller, new { id = item.GoodID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
            </tr>
        }
		  </tbody>
    </table>
</div>
@if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
{
    @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { categId = Model.CategId, pageNum = x })
}

