﻿@model Domain.Entities.OrderDetailView

@{
    ViewBag.Title = "Удаление продукции";
}

<h3>Вы уверены что надо удалить продукцию?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Good)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Good)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quant)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку заказов", "Index")
        </div>
    }
</div>
