﻿
<p class="text-center back-to-top-wrap"><a class="back-to-top" href="#top"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;Наверх</a></p>

@*<div class="row">
    <adress class="hidden-xs col-sm-4 text-center vcard footer-menu-wrapper footer-info" itemscope itemtype="http://schema.org/Organization">
        <span class="category">Завод</span>&nbsp;
        <span class="fn org" itemprop="name">
            ОАО АБЗ-4
            <b class="cl-orange">КАПОТНЯ</b>
        </span>
        <span class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span class="locality" itemprop="addressLocality">г. Москва</span>,
            <span class="street-address" itemprop="streetAddress">ул. Верхние Поля, д. 54</span>
        </span>    </adress>
    <div class="col-xs-6 col-sm-4 footer-menu-wrapper">
        <span class="tel">
            <abbr class="value" title="+ 7 (495) 359-75-25" itemprop="telephone">(495) 359-75-25</abbr>
            <br />
            <abbr class="value" title="+ 7 (495) 359-72-00" itemprop="telephone">(495) 359-72-00</abbr>
        </span>        
    </div>
    <div class="col-xs-6 col-sm-4 footer-menu-wrapper">        
        <a class="url" href="http://www.abz4.ru" title="http://www.abz4.ru" itemprop="url">http://www.abz4.ru</a>
        <br />
        <a class="email" href="mailto:abz4@abz4.ru" title="abz4@abz4.ru" itemprop="email">abz4@abz4.ru</a>
   </div>
</div>*@
