﻿@model Domain.Entities.Adres

@{
    ViewBag.Title = "Просмотр адреса";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rast)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("К списку адресов", "Index")</p>
