﻿@model IEnumerable<Domain.Entities.Adres>

@{
    ViewBag.Title = "Адреса";
}


<p>
    @Html.ActionLink("Новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rast)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rast)
        </td>
        <td>
            @Html.ActionLink("Просмотр", "Details", new { id=item.AdresID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.AdresID })*@
        </td>
    </tr>
}

</table>
