﻿@using WebUI.Helpers
@model WebUI.Models.TtnList

@if (Model.Ttns.Any())
{
    <div id="selectttn">
        <p>@Html.ActionLink("Получить реестр в Excel", "Export")</p>
        <div class="pager">
            @if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
            {
                @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { pageNum = x })
            }
        </div>
        <br />
        <table>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Время
                </th>
                <th>
                    Продукция
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Кол-во
                </th>
                <th>
                    Цена
                </th>
                <th>
                    Сумма
                </th>
                <th>
                    Автомобиль
                </th>
                <th>
                    Автобаза
                </th>
                <th>
                    Гос. №
                </th>
                <th>
                    Водитель
                </th>
            </tr>

            @foreach (var item in Model.Ttns)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Good)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amodel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ab)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driv)
                    </td>
                </tr>
            }
        </table>
        <br />
        <div class="pager">
            @if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
            {
                @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { pageNum = x })
            }


        </div>
    </div>
}
else
{
    <div id="selectttn"><h3>Нет данных за выбранный период!</h3></div>
}