﻿@model Domain.Entities.Comment

@{
    ViewBag.Title = "Отзыв";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <h2>Отзыв - предложения</h2>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Note, new { @class = "form-control multi-line", @rows = "3" })
        </div>
        <hr />
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </fieldset>
}
