﻿@model IEnumerable<Domain.Entities.Comment>

@{
    ViewBag.Title = "Обращения";
}

<p>
    @Html.ActionLink("Новое", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <p>
                <div class="form-group">
                    @*@Html.LabelFor(model => item.Note, htmlAttributes: new { @class = "col-md-3 control-label" })*@
                    <div class="col-md-9">
                        @Html.DisplayFor(model => item.Note, new { @class = "form-control" })
                        @if (User.IsInRole("Admin"))
                        {
                            <p>
                                @Html.ActionLink("Ответить", "Answer", new { id = item.CommentId })
                            </p>
                        }
                    </div>
                </div>
                @if (!String.IsNullOrWhiteSpace(item.Response))
                {
                    <div class="form-group">
                        @*@Html.LabelFor(model => item.Response, htmlAttributes: new { @class = "col-md-3 control-label" })*@
                        <div class="col-md-9">
                            @Html.DisplayFor(model => item.Response, new { @class = "form-control" })
                        </div>
                    </div>
                }
                
                </p>
            }
        }
        else
        {
            < h3 > У вас не было обращений</ h3 >
        }
    </div>
</div>
